<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <MyAppSettings>
    <add key="SmartImage_DefaultBGColor" value="#ffffff" />
    <add key="SmartImage_Flags" value="RC" />
  </MyAppSettings>
  <system.webServer>
    <modules>
      <add name="SmartImage" type="Anetics.HttpModules.SmartImage" preCondition="integratedMode" />
    </modules>
  </system.webServer>
</configuration>