<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--AllowBasketQuantityModification = True|False -->
    <add key="AllowBasketQuantityModification" value="True" />
    <!--PayPal Credentials
        <add key="PP_Username" value="PP_Pro_1336416484_biz@anetics.co.uk" />
        <add key="PP_Currency" value="GBP" />
        <add key="PP_Mode" value="sandbox"/>
        <add key="PP_Style" value=""/>-->
    <!--PayPal Credentials-->
    <add key="PP_Username" value="TYL7MTFMX9SE8" />
    <add key="PP_Currency" value="GBP" />
    <add key="PP_Mode" value="live" />
    <add key="PP_Style" value="" />
    <!--Email Settings-->
    <add key="ES_FromName" value="Pet Dream House" />
    <add key="ES_EmailAddress" value="F.wen@petdreamhouse.com" />
    <add key="ES_Username" value="PLEASE CHANGE THE EMAIL SETTINGS TO YOUR OWN SERVER" />
    <add key="ES_Password" value="PLEASE CHANGE THE EMAIL SETTINGS TO YOUR OWN SERVER" />
    <add key="ES_Mailserver" value="smtpout.europe.secureserver.net" />
    <add key="ES_UseSSL" value="False" />
    <!--ES_UseSSL : True|False-->
    <add key="ES_CC" value="" />
    <add key="ES_BCC" value="" />

      <add key="BS_EnableDiscounts" value="True" />
      
    <!--ES_CC & ES_BCC : recipient1@domain.com;recipient2@domain.com-->
    <add key="SmartImage_DefaultBGColor" value="#f5f0eb" />
    <add key="SmartImage_ResizeFlags" value="R,C" />
    <add key="SmartImage_Flags" value="RC" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" />
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <connectionStrings>
    <clear />
    <add name="DB" connectionString="Data Source=PETSERVER1\SQLEXPRESS;User ID=sa;Password=Qwe909090;Database=petdreamhouse;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="SharedProperties" />
      </namespaces>
      <controls>
        <add tagPrefix="uc" tagName="RightBlocks" src="~/App/Controls/RightBlocks.ascx" />
        <add tagPrefix="uc" tagName="ImageSlider" src="~/App/Controls/ImageSlider.ascx" />
        <add tagPrefix="uc" tagName="RightContact" src="~/App/Controls/RightContact.ascx" />
        <add tagPrefix="uc" tagName="LeftBlocks" src="~/App/Controls/LeftBlocks.ascx" />
        <add tagPrefix="uc" tagName="VotePanel" src="~/App/Controls/VotePanel.ascx" />
        <add tagPrefix="uc" tagName="RolloverLink" src="~/App/Controls/RolloverLink.ascx" />
        <add tagPrefix="uc" tagName="LoginForm" src="~/App/Controls/LoginForm.ascx" />
        <add tagPrefix="uc" tagName="SkinnedUpload" src="~/App/Controls/SkinnedUpload.ascx" />
        <add tagPrefix="uc" tagName="SimpleUpload" src="~/App/Controls/SimpleUpload.ascx" />
        <add tagPrefix="uc" tagName="FooterBlocks" src="~/App/Controls/FooterBlocks.ascx" />
		<add tagPrefix="uc" tagName="CommentsPanel" src="~/App/Controls/CommentsPanel.ascx" />
        <add tagPrefix="anx" assembly="Anetics.UserControls" namespace="Anetics.UserControls" />
        <add tagPrefix="awc" assembly="Anetics.Web" namespace="Anetics.Web" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <add name="SmartImage" type="Anetics.HttpModules.SmartImage" preCondition="integratedMode" />
      <add name="Smart404" type="Anetics.HttpModules.Smart404" preCondition="integratedMode" />
    </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="Index.html" />
                <add value="Default.aspx" />
                <add value="Index.htm" />
                <add value="Index.cfm" />
                <add value="Index.shtml" />
                <add value="Index.shtm" />
                <add value="Index.stm" />
                <add value="Index.php" />
                <add value="Index.php3" />
                <add value="Index.asp" />
                <add value="Index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>