
/*applied to all inputs*/
input
{}

textarea{font-family:Arial;}

/*applied to textboxes*/
input[type=text],input[type=password],textarea
{border:1px solid #333333;padding:2px;}

/*applied to buttons*/
input[type=submit],input[type=button]
{border:1px solid #333333;cursor:pointer;background-color:#cccccc;padding:3px 5px;}

/*applied to file upload buttons*/
input[type=file]
{}

/*applied to dropdown lists*/
select
{border:1px solid #333333;}

/*applied to checkboxes*/
input[type=checkbox]
{}

/*applied to checkboxes*/
input[type=radio]
{}

input[type=radio]:checked
{}

input.Wrong{border:1px solid red;color:Red;}
textarea.Wrong{border:1px solid red;color:Red;}
select.Wrong{border:1px solid red;color:Red;}