<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<div style="font-family:Calibri;font-size:14px;width:600px;">
<body>
    Hi [UsrName],
    <br /><br />
    You recently requested a password reset key.
    <br /><br />
    Your Key is: [UsrPassResetKey]
    <br /><br />
    Please click the link below to enter it:
    <a href="http://[host]/LostPassword.aspx?havekey=true&key=[UsrPassResetKey]">http://[host]/LostPassword.aspx?havekey=true&key=[UsrPassResetKey]</a>
    </div>
</body>
</html>
